body.dark-theme {
    --site-color: rgb(180, 30, 30);
    --accent-color: rgb(200, 40, 40);
    --third-color: rgb(190, 30, 40);

    --font-color-1: rgb(255, 255, 255);
    --font-color-2: rgb(220, 220, 220);
    --font-color-3: rgb(180, 180, 180);
    --font-color-4: rgb(140, 140, 140);
    --font-color-5: rgb(80, 80, 80);
    --font-color-6: rgb(40, 40, 40);

    --card-color: var(--font-color-5);
    --content-color: var(--font-color-5);
    --body-color: var(--font-color-6);

    --footer-color: rgb(20, 20, 20);
    --footer-font-color: var(--font-color-2);
    --footer-header-color: var(--font-color-1);
}

body.light-theme {
    --site-color: rgb(200, 60, 60);
    --accent-color: rgb(220, 100, 100);
    --third-color: rgb(190, 70, 90);

    --font-color-1: rgb(30, 30, 30);
    --font-color-2: rgb(71, 71, 71);
    --font-color-3: rgb(122, 122, 122);
    --font-color-4: rgb(173, 173, 173);
    --font-color-5: rgb(220, 220, 220);
    --font-color-6: rgb(240, 240, 240);

    --card-color: var(--font-color-6);
    --content-color: var(--font-color-6);
    --body-color: var(--font-color-5);

    --footer-color: var(--font-color-2);
    --footer-font-color: var(--font-color-5);
    --footer-header-color: var(--font-color-6);
}
