a {
    color: var(--site-color);
    text-decoration: none;
}

a:hover {
    color: var(--font-color-1);
    text-decoration: none;
}

form {
    margin: 0;
    font-family: inherit;
}

.alert-success {
    background-color: var(--site-color);
    border-color: var(--site-color);
    color: var(--font-color-1);
}
