{% extends "blog/components/base.html" %}
{% load static %}
{% block content %}

<div id="carouselExampleIndicators" class="carousel slide mb-4" data-bs-ride="carousel">
    <div class="carousel-indicators">
        {% for banner in banners %}
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}" 
        {% if forloop.first %}class="active" {% endif %} 
        aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
        {% endfor %}
    </div>
    <div class="carousel-inner">
        {% for banner in banners %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img src="{{ banner.image.url }}" class="d-block w-100 carousel-image" alt="{{ banner.title }}">
            {% if banner.title or banner.description %}
            <div class="carousel-caption d-none d-md-block">
                {% if banner.title %}<h5>{{ banner.title }}</h5>{% endif %}
                {% if banner.description %}<p>{{ banner.description }}</p>{% endif %}
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

{% for type in types %}
<div class="content-section">
    <h2 class="text-center">{{ type.plural }}</h2>
    <div class="row">
        {% for post in type.post_set.all %}
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card mb-4">
                {% if post.image %}
                <img class="card-img-top" src="{{ post.image.url }}" alt="Изображение поста">
                {% elif post.map %}
                <script type="text/javascript" charset="utf-8" async
                    src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%{{ post.map }}&amp;width=100%&amp;height=400&amp;lang=ru_RU&amp;scroll=true">
                </script>
                {% endif %}
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.content|truncatechars:150 }}</p>
                    <a href="{{ post.get_absolute_url }}" class="btn btn-outline-site mt-auto">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}

{% endblock content %}