{% extends "blog/components/base.html" %}
{% load static %}
{% block content %}

<div class="content-section">
    <div class="banner">
        <img src="{% static '../upload/images/banner.jpg' %}" alt="Баннер" class="img-fluid w-100">
        <div class="banner-text text-center">
            <h1 class="display-4">Добро пожаловать на наш сайт!</h1>
            <p class="lead">Исследуйте невероятные возможности путешествий с нами!</p>
        </div>
    </div>
</div>

{% for type in types %}
<div class="content-section">
    <h2 class="text-center">{{ type.plural }}</h2>
    <div class="row">
        {% for post in type.post_set.all %}
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card mb-4">
                <img class="card-img-top" src="{{ post.image.url }}" alt="Изображение поста">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.content|truncatechars:150 }}</p>
                    <a href="{{ post.get_absolute_url }}" class="btn btn-outline-site mt-auto">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}

{% endblock content %}