<footer class="footer mt-auto py-3">
    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto col-md-6 text-center">
                <h3>О нас</h3>
                <p class="lead">{{ description }}</p>
            </div>
            <div class="col-10 mx-auto col-md-6 text-center">
                <h3>Контакты</h3>
                <p class="lead">
                    <strong>Адрес:</strong> 123 Улица, Город, Страна<br>
                    <strong>Телефон:</strong> <a href="tel:+1234567890" class="text-decoration-none">+123 456
                        7890</a><br>
                    <strong>Email:</strong> <a href="mailto:info@example.com"
                        class="text-decoration-none">info@example.com</a>
                </p>
                <div class="social-links mt-3">
                    <a href="#" class="btn" style="background-color: #4c75a3; color: white;"><i class="fab fa-vk"></i>
                        VK</a>
                    <a href="#" class="btn" style="background-color: #2c6bed; color: white;"><i
                            class="fab fa-telegram-plane"></i> Telegram</a>
                    <a href="#" class="btn" style="background-color: #f28b39; color: white;"><i
                            class="fab fa-odnoklassniki"></i> OK</a>
                </div>
            </div>
                        <div class="col-10 mx-auto text-center">
                            <h3>Навигация</h3>
                            <nav class="nav nav-pills nav-fill justify-content-center">
                                <a class="nav-link" href="{% url 'blog-home' %}">Главная</a>
                                {% for type in types %}
                                <a class="nav-link" href="{% url 'blog-posts' type.id %}">{{ type.plural }}</a>
                                {% endfor %}
                                <a class="nav-link" href="{% url 'blog-about' %}">О сайте</a>
                                <a class="nav-link" href="{% url 'staff' %}">Персонал</a>
                                <a class="nav-link" href="{% url 'blog-contact' %}">Контакты</a>
                                <a class="nav-link" href="{% url 'profile' %}">Профиль</a>
                            </nav>
                        </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 text-center">
                <p><i class="fas fa-copyright"></i> {{ title }} 2024</p>
            </div>
        </div>
    </div>
</footer>
