{% load static %}

<header class="site-header">
    <nav class="navbar navbar-expand-md fixed-top bg-site">
        <div class="container d-flex justify-content-between align-items-center p-0">
            <a class="navbar-brand" href="{% url 'blog-home' %}"> {{ logo | safe }}
                {{ title }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'blog-home' %}">Главная</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Контент
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for type in types %}
                            <a class="dropdown-item"
                                href="{% url 'blog-posts' %}?type={{ type.id }}">{{ type.plural }}</a>
                            {% endfor %}
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog-about' %}">О Сайте</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'staff' %}">Персонал</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog-contact' %}">Контакты</a>
                    </li>
                </ul>

                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                    <a class="nav-item nav-link" href="{% url 'profile' %}">Профиль</a>
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button class="nav-item nav-link btn btn-link-black" type="submit">Выход</button>
                    </form>
                    {% else %}
                    <a class="nav-item nav-link" href="{% url 'login' %}">Вход</a>
                    <a class="nav-item nav-link" href="{% url 'register' %}">Регистрация</a>
                    {% endif %}

                    <!-- Перевод на другие языки -->
                    {% with googtrans=request.COOKIES.googtrans|slice:"-2:"|default:"ru" %}
                    <div class="dropdown d-flex justify-content-center">
                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            {% with flags=flags %}
                            {% with flag=flags|get:googtrans %}
                            <img src="{% static '../upload/flags/24/' %}{{ flag }}.png" alt="{{ googtrans|upper }}"
                                class="language__img">
                            <span class="notranslate">{{ googtrans|upper }}</span>
                            {% endwith %}
                            {% endwith %}
                        </button>
                        <div class="dropdown-menu" value="">
                            {% for flag in flags %}
                            <button class="dropdown-item{% if googtrans == flag %} active{% endif %}" type="button"
                                data-google-lang="{{ flag }}"><img
                                    src="{% static '../upload/flags/24/' %}{{ flags|get:flag }}.png" alt="{{ flag }}"
                                    class="language__img">
                                <span class="notranslate">
                                    {{ flag|upper }}</span></button>
                            {% endfor %}
                        </div>
                    </div>
                    {% endwith %}
                </div>
            </div>
        </div>
    </nav>
</header>