{% load static %}

<div class="col-md-4">
    <div class="content-section">
        <h3>Разделы</h3>
        <p class='text-muted'>навигация по сайту
        <ul class="list-group">
            <li class="list-group-item list-group-item-light"><a href="{% url 'blog-home' %}">Главная</a></li>
            {% for type in types %}
            <li class="list-group-item list-group-item-light">
                <a href="{% url 'blog-posts' %}?type={{ type.id }}">
                    {{ type.plural }}
                </a>
            </li>
            {% endfor %}
            <li class="list-group-item list-group-item-light"><a href="{% url 'blog-about' %}">О сайте</a></li>
            <li class="list-group-item list-group-item-light"><a href="{% url 'users-staff' %}">Персонал</a></li>
            <li class="list-group-item list-group-item-light"><a href="{% url 'blog-contact' %}">Контакты</a></li>
            <li class="list-group-item list-group-item-light"><a href="{% url 'profile' %}">Профиль</a></li>
        </ul>
        </p>
    </div>
</div>