{% extends "blog/components/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% if user.is_staff %}
<div class="content-section">
  <h5 class="text-center">Вы администратор</h5>
  <div class="border-top pt-3 pb-2 text-center">
    <a class="btn btn-outline-site" href="{% url 'admin:index' %}">Перейти в панель администратора</a>
  </div>
</div>
{% endif %}

<div class="content-section">
  <div class="row align-items-center">
    <div class="col-md-4">
      <img class="rounded-circle img-fluid" src="{{ user.profile.image.url }}"
        alt="{{ user.username }}'s profile picture">
    </div>
    <div class="col-md-8">
      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary"><strong>Электронная почта:</strong> {{ user.email }}</p>
      <p class="text-secondary"><strong>Имя:</strong> {{ user.first_name }} {{ user.last_name }}</p>
      {% if user.profile.position %}
      <p class="text-secondary"><strong>Должность:</strong> {{ user.profile.position }}</p>
      {% endif %}
      {% if user.profile.description %}
      <p class="text-secondary"><strong>Описание:</strong> {{ user.profile.description }}</p>
      {% endif %}
    </div>
  </div>
  <div class="text-center">
    <a class="btn btn-outline-site" href="{% url 'profile-edit' %}">Редактировать профиль</a>
  </div>
</div>

<div class="content-section">
  <div class="md-3">
    <h5 class="text-center">Ваши посты</h5>
    <div class="text-center border-top pt-3 pb-2">
      <a class="btn btn-outline-site" data-bs-toggle="collapse" href="#collapsePosts" role="button" aria-expanded="false" aria-controls="collapsePosts">
        Показать/скрыть
      </a>
    </div>
    <div class="collapse" id="collapsePosts">
      {% if user.post_set.exists %}
      <ul class="list-group">
        {% for post in user.post_set.all %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
          <span class="badge bg-site rounded-pill">{{ post.date_posted|date:"d M Y" }}</span>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p class="text-center">Вы не создавали посты</p>
      {% endif %}
    </div>
  </div>
</div>

<div class="content-section">
  <div class="md-3">
    <h5 class="text-center">Ваши комментарии</h5>
    <div class="text-center border-top pt-3 pb-2">
      <button class="btn btn-outline-site collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseComments" aria-expanded="false" aria-controls="collapseComments">
        Показать/скрыть
      </button>
    </div>
    <div class="collapse" id="collapseComments">
      <ul class="list-group">
        {% for comment in user.comment_set.all %}
        <li class="list-group-item">
          <a href="{{ comment.post.get_absolute_url }}#comment-{{ comment.pk }}">{{ comment.content|truncatewords:10 }} ({{ comment.post.title }})</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock content %}